<!-- 财务审核-->
<div class="page-sidebar nav-collapse collapse">			
<ul class="page-sidebar-menu">
    <li>
        <div class="sidebar-toggler hidden-phone"></div>
    </li>
    <li>
    <form class="sidebar-search">
          <div class="input-box">
          </div>
    </form>		
    </li>    
<!--订单管理-->
<li class="">
    <a href="javascript:;">
    <i class="icon-file-text"></i> 
    <span class="title">订单管理</span>
    <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
         <li >
            <a href="__APP__/langfang/order/index"> 待审核订单</a>
        </li> 
        <li >
            <a href="__APP__/langfang/order/index">新提交订单</a>
        </li>
        <li >
            <a href="__APP__/langfang/order/o_overs">已审核订单</a>
        </li>
        <li >
            <a href="__APP__/langfang/order/o_ends">已结束订单</a>
        </li>
        <li >
            <a href="__APP__/langfang/order/o_dels">已删除订单</a>
        </li>
        <li >
            <a href="__APP__/langfang/order/o_serchs">搜索订单</a>
        </li>            
        <li >
            <a href="__APP__/langfang/order/o_logs">订单修改日志</a>
        </li>
        <li >
            <a href="__APP__/langfang/order/o_orderall">历史订单</a>
        </li>            
    </ul>
</li>
<!--数据导出-->
<li class="">
    <a href="javascript:;">
    <i class="icon-th"></i> 
    <span class="title">数据导出</span>
    <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li >
            <a href="__APP__/langfang/dates/index">数据导出</a>
        </li>
    </ul>
</li>
<!--个人中心-->				                 
<li class="">
        <a href="javascript:;">
        <i class="icon-user"></i> 
        <span class="title">个人中心</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="__APP__/langfang/user/edit_user">个人信息</a>
            </li>
            <li >
                <a href="__APP__/langfang/user/my_user_log">操作日志</a>
            </li>
            <li >
                <a href="__APP__/langfang/index/unlogin">安全退出</a>
            </li>
        </ul>
    </li>   
</ul>	
</div>