
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="index.html">
				<img src="__PUBLIC__/image/logo.png" alt="logo"/>
				</a>
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<img src="__PUBLIC__/image/menu-toggler.png" alt="" />
				</a> 
				<ul class="nav pull-right">
					<li class="dropdown" id="header_notification_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-bell" id="kcyj" style="color:#fcb322;"></i>
						<span class="badge">{$gonggaonum}</span>
                         <h3 class="dropdown-txt">最新公告</h3>
						</a> 
						<ul class="dropdown-menu extended notification">
							<li class="external">
								<a href="__APP__/langfang/notice/index">查看详细<i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
                     <if condition="($groups eq 15) OR ($groups eq 9) OR ($groups eq 81) OR ($groups eq 82)  ">
					<li class="dropdown" id="header_inbox_bar">
						<a href="__APP__/langfang/order/index" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-envelope"></i>
						<span class="badge">{$pronewnum}</span>
                        <h3 class="dropdown-txt">新增订单</h3>
						</a>
						<ul class="dropdown-menu extended inbox">
							<li class="external">
								<a href="__APP__/langfang/order/index">产看详情<i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
                    </if>
					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <if condition="($usergender.gender eq 0)">
                        <img alt="" src="__PUBLIC__/image/avatarnan_small.jpg" />
                        </if>
                         <if condition="($usergender.gender eq 1)">
                        <img alt="" src="__PUBLIC__/image/avatarnv_small.jpg" />
                        </if>
						<span class="username">{$listu}&nbsp;{$gname}</span>

						<i class="icon-angle-down"></i>

						</a>
						<ul class="dropdown-menu">
                            <if condition="($groups eq 15)||($groups eq 9)">
                            <li><a href="__APP__/langfang/notice/index"><i class="icon-bell"></i> 公告管理</a></li>
                            </if>
							<li><a href="__APP__/langfang/user/edit_user"><i class="icon-user"></i> 个人信息</a></li>
							<li><a href="__APP__/langfang/user/my_user_log"><i class="icon-tasks"></i> 操作日志</a></li>							
							<li><a href="__APP__/langfang/index/unlogin"><i class="icon-key"></i> 安全退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>