@charset "utf-8";
/* 页面标准模型样式 */

html{ background-color:#0099FF;}
body{background:#fff;  font-family:"微软雅黑",Verdana, Arial; line-height:150%; margin:0 auto; padding:0 auto;   }
div{margin:0 auto; padding:0 auto;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,from,img,p{margin:0 auto; padding:0 auto; border:none; list-style-type:none;}
#page_box{ width:auto;  background-color:#0099FF;     z-index:99; margin:0 auto; padding:0 auto; }
#login{ background-color:#0099FF; width:100%; height:520px;}
.loginf{width:990px; height:520px;margin:0 auto; padding:0 auto; }
.banner_login{ float:left; width:490px; height:245px; background-color:#FF666; margin-top:80px; margin-left:8px;}
.banner_sub{ float:left;width:490px; height:260px; background-color:#FF666;margin-top:50px;}

/*login-form-css*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
    margin-top:5px;
	margin-left: -35px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#pass{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#pass:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.at_bak{ width:900px; text-align:center; text-align:center; margin:50px auto; padding:50px auto;}
.bank_m{ width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/beijing.jpg") !important;}
.bank_m a{ color:#FFF;text-decoration: none;}
.bank_m h3{ margin-top:158px; top:170px;}

.bank_m1{width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/guangfa.jpg") !important;}
.bank_m1 a{ color:#FFF;text-decoration: none;}
.bank_m1 h3{ margin-top:158px; top:170px;}

.bank_m2{ width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/hangzhou.jpg") !important;}
.bank_m2 a{ color:#FFF;text-decoration: none;}
.bank_m2 h3{ margin-top:158px; top:170px;}

.bank_m3{ width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/huaxia.jpg") !important;}
.bank_m3 a{ color:#FFF;text-decoration: none;}
.bank_m3 h3{ margin-top:158px; top:170px;}

.bank_m4{ width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/langfang.jpg") !important;}
.bank_m4 a{ color:#FFF;text-decoration: none;}
.bank_m4 h3{ margin-top:158px; top:170px;}

.bank_m5{width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/jiaotong.jpg") !important;}
.bank_m5 a{ color:#FFF;text-decoration: none;}
.bank_m5 h3{ margin-top:158px; top:170px;}

.bank_m6{width:246px; float:left; height:154px; border-radius: 5px;margin:10px 20px 20px 20px; background-image: url("/Public/company/minsheng.jpg") !important;}
.bank_m6 a{ color:#FFF;text-decoration: none;}
.bank_m6 h3{ margin-top:158px; top:170px;}

.bank_m7{ width:246px; float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/pufa.jpg") !important;}
.bank_m7 a{ color:#FFF;text-decoration: none;}
.bank_m7 h3{ margin-top:158px; top:170px;}

.bank_m8{ width:246px;float:left; height:154px; border-radius: 5px; margin:10px 20px 20px 20px; background-image: url("/Public/company/zhongxin.jpg") !important;}
.bank_m8 a{ color:#FFF;text-decoration: none;}
.bank_m8 h3{ margin-top:158px; top:170px;}
/*.bank_m:hover{width:30%; float:left; height:175px;border: 1px solid #30a8d9; */
   /* -moz-border-radius: 8px; */     /* Gecko browsers */   
  /*  -webkit-border-radius: 8px;   /* Webkit browsers */ 
   /* border-radius:8px;            /* W3C syntax */
	/*}