@charset "utf-8";
/* 页面标准模型样式 */

html{ background-color:#FFFFFF; font-size: 62.5%; -webkit-tap-highlight-color: transparent;}
body{  display: block; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px;  color: #3e4855;  background-color: #fff;  line-height: 1.42857143; margin:0 auto; padding:0 auto;   }
div{margin:0 auto; padding:0 auto;display: block;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,from,img,p{margin:0 auto; padding:0 auto; border:none; 
#page-header,#page-wrapper{max-width:3000px; transition:max width .7s ease; -moz-transition:max-width .7s case; -webkit-transition:max-width .7s ease;}
#page-wrapper{ margin:0 auto; }
#page-wrapper:after,.btn-group:after,.btn-toolbar:after,.button-pane:after,.chat-box li:after,.clearfix:after,.comments-list li .panel-body:after,.container:after,.content-box-header:after,.example-box-wrapper:after,.files-box li:after,.form-input-prepend:after,.form-row:after,.info-box:after,.messages-box li:after,.nav-list li:after,.nav:after,.notifications-box li:after,.pager:after,.posts-list li:after,.tl-item:after,.tl-row:after,.todo-box li:after,.ui-datepicker-buttonpane:after,.ui-helper-clearfix:after{clear:both}
/*login-form-css*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    
  background-size: cover;
  height:100%;
}


#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
    margin-top:5px;
	margin-left: -35px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#pass{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#pass:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

