<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>智能凭证通管理系统</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="__PUBLIC__/css/log-css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="__PUBLIC__/css/log-css/uniform.default.css" rel="stylesheet" type="text/css"/>    
<link href="__PUBLIC__/css/log-css/user.css" rel="stylesheet" type="text/css"/> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/log-css/select2_metro.css" />
<link rel="shortcut icon" href="__PUBLIC__/image/favicon.ico" />
<script src="__PUBLIC__/js/ajax.js" type="text/javascript" /></script>
</head>
<body class="page-header-fixed">
{:W('menu/head')}
<include file="$leftmenu" />
		<div class="page-content">
		  <div class="container-fluid">
				<div class="row-fluid">
				  <div class="span12">
						<h3 class="page-title">
							 <small></small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="__APP__/langfang/index/dg_main.html">主页</a> 
								<span class="icon-angle-right"></span>
							</li>
							<li>
								<a href="#">公告管理</a>
								<span class="icon-angle-right"></span>
							</li>
							<li><a href="#">公告列表</a></li>
						</ul>
					</div>
				</div>                              
<div class="portlet box blue">	
     <div  class="portlet-title">   
           <div class="caption"><i class="icon-reorder"></i>公告列表</div>	
           <if condition="($groups eq 15) OR ($groups eq 9)OR  ($groups eq 81) ">
          <div class="caption" style=" float:right"><a href="__APP__/langfang/notice/n_add" >添加公告</a></div>	
          </if>
			</div>             
            <div class="portlet-body form" >
                 <div id="users">                                          
                      <table width="100%">
                           <tr height="45" style=" font-family:'微软雅黑'; font-size:14px; font-weight:500; color:#557abb;">
                                   <td width="5%">选择</td>
                                   <td width="15%">标题</td>
                                   <td width="10%">企业</td>
                                   <td width="10%">添加日期</td>   
                                   <td width="10%">状态</td>                                     
                                   <td width="15%">操作</td>
                           </tr>
                           <volist name='gonggao_list' id='gonggao'>
                           <tr id="user_table">
                                  <td height="45" onMouseOver="this.style.backgroudcolor='#247BFF';">
                                          <input type="checkbox" name="checkbox_uid[]" value="{$gonggao.gid}">                                       
                                  </td>
                                  <td height="45" >{$gonggao.titles}</td>
                                  <td height="45" >{$gonggao.companiesname}</td>
                                 
                                  <td height="45" >{$gonggao['jointime']|date="Y-m-d H:i",###}</td>
                                  <td height="45" ><if condition="($gonggao.status eq 1)"><font color=green>正常</font>
                                   <else/><font color=red>冻结</font>
                                   </if></td>          
                                  <td class="user_edit" height="45" >&nbsp;&nbsp;
                                   <if condition="($groups eq 15) OR ($groups eq 9)OR  ($groups eq 81) ">
                                          <a class="user_et" href="__APP__/langfang/notice/n_edit/id/{$gonggao.gid}">编辑</a> &nbsp;&nbsp;
                                          <if condition="($gonggao.status eq 1)">
                                            <a href="javascript:void()" onClick="setstatus({$gonggao.gid},0)"><font color=green>冻结</font></a>&nbsp;
                                          <else/>
                                            <a href="javascript:void()" onClick="setstatus({$gonggao.gid},1)"><font color=red>解冻</font></a>&nbsp;
                                         </if>
                                           <a href="javascript:void();" onClick="dellist(1,{$gonggao.gid})">删除</a>&nbsp;&nbsp;
                                           <a href="javascript:void();" onClick="showchangetime()">查看</a>&nbsp;&nbsp;
                                           
                                   <else/><a href="javascript:void();" onClick="showchangetime()">查看</a>
                                  </if>
                                  </td>                          
                           </tr>
                           </volist>                          
                </table>
                   
                        <div class="portlet-body form">
                         <div></div>
                          <div class="od_msg_sub">
                         <div class="portlet-body form"><input type="button" onClick="dellist(3,0)" value="删除选择项"/>
                                
                        </div>
                         <div class="pagination">
                        　　{$page}
                        </div>	
                </div>
         </div>
</div>
			</div>
		</div>
	</div>
      <div class="TB_overlayBG" id="TB_overlay" style=" position: fixed; z-index: 100;top: 0px;left: 0px; height: 100%; width: 100%;background-color: #000;opacity: 0.75; display:none;"></div>
                <div id="showdiv" style=" position:absolute; left:50%; top:50%; width:1024px; height:600px; background:#ffffff; display:none; z-index:1000"><div style="width:100%; background-color:#4b8df8;  font-size: 14px; color:white; height:30px; padding-top:5px; font-family:微软雅黑;font-weight:500;">&nbsp;&nbsp;公告标题&nbsp;&nbsp;{$gonggao.titles}<span id="clienname">&nbsp;&nbsp;</span><div style="float:right; padding-right:5px;"><a href="javascript:closechangetime()" style="color:white;">关闭</a></div></div>
                <div></div>
                 <div align="center" style="width:99%; margin-top:10px;">
              <textarea type="text" id="contents" style="border:#999 2px solid; width:99%;" name="contents" class="m-wrap span12" placeholder=""> {$gonggao.contents}</textarea>
                 </div>
                 
                </div>
<include file="menu:footer" />
<script src="__PUBLIC__/js/log-js/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

<script src="__PUBLIC__/js/log-js/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="__PUBLIC__/js/log-js/excanvas.min.js"></script>

<script src="__PUBLIC__/js/log-js/respond.min.js"></script>  

<![endif]-->   

<script src="__PUBLIC__/js/log-js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery.blockui.min.js" type="text/javascript"></script>  

<script src="__PUBLIC__/js/log-js/jquery.cookie.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery.uniform.min.js" type="text/javascript" ></script>

<script type="text/javascript" src="__PUBLIC__/js/log-js/select2.min.js"></script>

<script src="__PUBLIC__/js/log-js/app.js"></script>

<script src="__PUBLIC__/js/log-js/form-samples.js"></script>

<script language="javascript" >
function delcfm() { 
if (!confirm("确认要删除？")) { 
window.event.returnValue = false; 
} 
} 
function dellist(type,$id)
{
	var abc=window.confirm("确定要删除吗？");
			if(!abc){
				return false;
			}
			if(type==3)
			{
				$id="";
				var listid=document.getElementsByName('checkbox_uid[]');			
				for($i=0;$i<listid.length;$i++)
				{
					if(listid.item($i).checked)
					{
						$id+=listid.item($i).value+",";
					}
				}	
			
			}
			post_res = 'id='+$id+"&type="+type;
			postAjax("__APP__/langfang/notice/n_del",post_res,function(data){
				//alert(data);
				window.location.reload();
			});
	}
 function setstatus(id,status)
    {
		 post_res = 'id='+id+"&status="+status;
        postAjax("__APP__/langfang/notice/setstatus",post_res,function(data){               
            	window.location.reload();
            });
	}
</script>

	<script>
	var showdiv=document.getElementById("showdiv");
    var TB_overlay=document.getElementById("TB_overlay");
		function showchangetime()
		{			
			showdiv.style.display="block";
			TB_overlay.style.display="block";
			showdiv.style.marginLeft = "-512px" ;
			showdiv.style.marginTop = -300+document.documentElement.scrollTop+"px";
		}
		
		function closechangetime()
		{
			showdiv.style.display="none";			
			TB_overlay.style.display="none";
			showdiv.style.marginLeft = "0" ;
			showdiv.style.marginTop = "0px";
			}

		jQuery(document).ready(function() {    

		   // initiate layout and plugins
		   App.init();
		   FormSamples.init();
		});
	</script>
<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>
</html>