<include  file="Public/Template/header.html" />
    <div id="page_box">
        <div class="at_bak">
            <div class="bank_m"><h3><a href="__APP__/beijing/">北京银行</a></h3></div>
            <div class="bank_m1"><h3><a href="#">广发银行</a></h3></div>
            <div class="bank_m2"><h3><a href="#">杭州银行</a></h3></div>
            <div class="bank_m3"><h3><a href="#">华夏银行</a></h3></div>
            <div class="bank_m4"><h3><a href="__APP__/langfang/">廊坊银行</a></h3></div>
            <div class="bank_m5"><h3><a href="#">交通银行</a></h3></div>
            <div class="bank_m6"><h3><a href="#">中国民生银行</a></h3></div>
            <div class="bank_m7"><h3><a href="#">浦发银行</a></h3></div>
            <div class="bank_m8"><h3><a href="#">中信银行</a></h3></div>
        </div>
    </div>    
    <div id="login">
    </div>
<include file="Public/Template/footer.html" />