/*账号信息样式*/
#user_table{width:100%;font-family:"Microsoft Yahei"; font-size:14px; font-weight:600; color:#718dac;}
#user_table:hover{ background-color:#4b8df8; color:#FFF; font-family:"Microsoft Yahei"; font-size:14px; font-weight:600;}

#user_table .user_edit a:hover{color:#FFF;}
#user_table td a{color:#666;}

#user_table td a:hover{ color:#FFF;}
#user_table td:hover{ background-color:#4b8df8; color:#FFF; font-family:"Microsoft Yahei"; font-size:14px; font-weight:600;}

/*分页样式*/
.user-pages{ width:100%;}
.user-pages ul.rows { float:left; margin-left:30px;}
.user-pages ul.rows li{ width:45px; height:45px; line-height:45px;} 

/*添加账号表单样式*/
.user_add{  margin-left: 0; width:100%;}
.row-fluid.span6.us-user{ width:100%; margin-top:8px;}