<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>智能凭证通管理系统</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />	
<link href="__PUBLIC__/css/log-css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="__PUBLIC__/css/log-css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/user.css" rel="stylesheet" type="text/css"/> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/log-css/select2_metro.css" />
<link rel="shortcut icon" href="__PUBLIC__/image/favicon.ico" />
</head>
<body class="page-header-fixed">
{:W('menu/head')}	
<include file="$leftmenu" />
		<div class="page-content">
		  <div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<h3 class="page-title">	
							 <small></small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="__APP__/beijing/index/dg_main">主页</a> 
								<span class="icon-angle-right"></span>
							</li>
							<li>
								<a href="#">用户管理</a>
								<span class="icon-angle-right"></span>
							</li>
							<li><a href="#">添加用户</a></li>
						</ul>
					</div>
				</div>
				<div class="row-fluid"> 
					<div class="span12">
						<div class="tabbable tabbable-custom boxless">
                        <div class="tab-content">
								<div class="tab-pane active" id="tab_1">
									<div class="portlet box blue">
										<div class="portlet-title">
											<div class="caption"><i class="icon-reorder"></i>添加用户</div>
											<div class="tools">
											</div>
										</div> 
<div class="portlet-body form">
    <form action="__APP__/beijing/member/m_add" class="horizontal-form" id="form_add" method="post" >						
        <div class="row-fluid">
            <div class="us_at ">
                <div class="control-group">                                                        
                        <div class="us_box">
                                <label class="user_name"  for="firstName">用户名</label>
                        </div>                                                                
                    <div class="us_box_ad">
                             <input type="text" id="name" name="name" class="m-wrap span12" placeholder="请输入账号">
                    </div>
                    <div class="txt_add"> <span class="help-block"><i class="icon-star" style="color:#F00;"></i>用户名以6位字母数字组合以字母开头</span></div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <div class="us_box">
                            <label class="user_name" >密码</label>
                    </div>                    
                    <div class="us_box_ad">
                             <input type="password" id="pass" name="pass" class="m-wrap span12" placeholder="初始密码">
                    </div>                    
                   <div class="txt_add"> <span class="help-block"><i class="icon-star" style="color:#F00;"></i>为新用户创建一个6-10位初始登陆密码</span></div>
                </div>
            </div>
        </div>           
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <div class="us_box">
                            <label class="user_name" >密码确认</label>
                    </div>                    
                    <div class="us_box_ad">
                             <input type="password" id="repass" name="repass" class="m-wrap span12" placeholder="密码确认">                 
                     </div>                    
                      <div class="txt_add"> <span class="help-block"><i class="icon-star" style="color:#F00;"></i>确认6-10位初始登陆密码</span></div>
                </div>
            </div>
        </div>
        <!--/真实姓名--> 
       <div class="row-fluid">
            <div class="us1 ">
                <div class="control-group">
                    <div class="us_box">
                            <label class="user_name" >真实姓名</label>
                    </div>                                                            
                    <div class="us_box_ad">
                             <input type="text"  id="rname" name="rname" class="m-wrap span12" placeholder="真实姓名"> 
                    </div>                                                            
                     <div class="txt_add"> <span class="help-block"><i class="icon-star" style="color:#F00;"></i>真实姓名</span></div>
                </div>
            </div>	
      </div>
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <div class="us_box">
                            <label class="user_name" >所属部门</label>
                    </div>                    
                    <div class="us_box_ad">
                             <input type="text" id="department" name="department" class="m-wrap span12" placeholder="所属部门">
                    </div>                    
                      <div class="txt_add"> <span class="help-block"><i class="icon-star" style="color:#F00;"></i>填写所属部门</span></div>
                </div>
            </div>
        </div> 
        <div class="row-fluid">
            <div class="us1 ">
                <div class="control-group">
                    <div class="us_box">
                             <label class="user_name" >所属企业</label>
                    </div>
                    <div class="us_box_ad"  >
                        <select class="span12 select2_category"  id="cpny" name="cpny" data-placeholder="请在这里选择一个角色权限" tabindex="1">                        
                            <volist name='lisc' id='company'>
                            <option value="{$company.id}"   >{$company.name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <div class="us_box">
                             <label class="user_name" >角色权限</label>
                    </div>
                    <div class="us_box_ad"  id="select_tab" >
                        <select class="span12 select2_category" id="select_tab" name="role" data-placeholder="请在这里选择一个角色权限" tabindex="1">                    
                            <volist name='grouparr' id='grouparr'>
                            <option value="{$key}" >{$grouparr}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                      <div class="us_box">
                            <label class="user_name" >电话</label>
                      </div>                                                            
                      <div class="us_box_ad">
                           <input type="text" id="tel" name="tel" class="m-wrap span12"  placeholder="010-88888888/13888888888">
                      </div>                                                            
                      <div class="txt_add"> <span class="help-block"><i class="icon-star" style="color:#F00;"></i>联系电话&nbsp;例:010-88888888|13888888888</span></div>
                    </div>
                </div>	
         </div> 
            <div class="row-fluid">    
                    <div class="span6 ">    
                        <div class="control-group">
                                <div class="us_box">    
                                     <label class="user_name" >送货地址</label>
                                </div>                            
                                <div class="us_box_ads">  
                                <select id="provinces" onChange="prechange()">
                                <option value="">请选择省份</option>
                                <volist name='reglists' id='re'>
                                <option value="{$re.id}"   >{$re.name}</option>
                                </volist>
                                </select>                          
                                <select id="citys" onChange="citychange()" >
                                <option value="">请选择市</option>
                                </select> 
                                <select id="countys" name="countys" onChange="countyschange()">
                                <option value="">请选择县</option>
                                </select>
                                <input type="text" id="readdress" name="readdress" class="m-wrap span12"  placeholder="送货地址">     
                                </div>                            
                        </div>                         
                           
                        <div class="txt_add">
                         <span class="help-block" style="color:#F00;line-height: 34px;">重要提醒<i class="icon-star" style="color:#F00;"></i>请及时更新联系人和送货地址</span>
                         </div>      
                   </div>
         </div>  
        <div class="form-actions">
            <button type="button" class="btn blue" onClick=" return valdata()"><i class="icon-ok"></i>&nbsp;&nbsp; 确&nbsp;&nbsp;定&nbsp;&nbsp;</button>
            <button type="button" class="btn">&nbsp;&nbsp;取&nbsp;&nbsp;消&nbsp;&nbsp;</button>
        </div>
    </form> 
<script type="text/jscript">
function valdata(){		
		var name = document.getElementById("name");
		var pass = document.getElementById("pass");
		var repass = document.getElementById("repass");
		var role = document.getElementsByName("role").item(0);
		if((name.value).trim() == ""){														        
			alert("用户名不能为空");
			return false;
		}
		if((pass.value).trim() == ""){
			alert("密码不能为空");
			return false;
		}
		if(pass.value.length < 6){
			alert("密码长度不能小于6位");
			return false;
		}
		if((repass.value).trim() == ""){
			alert("请输入确认密码");
			return false;
		}
		if(pass.value != repass.value){
			alert("两次输入密码不同，请重新输入！");
			return false;
		}
		if((role.value).trim() == ""){
			alert("请选择用户权限");
			return false;
		}
		var data= name.value;
		$.get('__APP__/beijing/member/check_name',{'username':name.value},function(data){
					//alert(data);
					if(data>=1)
					{
						 alert("用户名已存在");	
						 return false;																																	
						}else
					{
						document.getElementById("form_add").submit();
						}		
			});				
}
 function isNull(arg1)
	{
	 return !arg1 && arg1!==0 && typeof arg1!=="boolean"?true:false;
	}

</script>
<script type="text/javascript">
           var readdress=document.getElementById("readdress");
                
                function prechange() {
					$id=document.getElementById("provinces").value;
					var options=$("#provinces option:selected");  //获取选中的项				
					readdress.value=options.text()+" ";
					$.get('__APP__/beijing/member/region',{'id':$id},function(data) {
                            $("#citys").html("<option value=''>请选择市</option>");
							 var json = eval('(' + data + ')');                             var reglist=json.reglist;
							 for(var i=0;i<reglist.length;i++){
								 $("#citys").append("<option value='" + reglist[i].id + "'>" + reglist[i].name + "</option>");
								 }
                           
                   
                    });
				}

              function citychange() {
                   $id=document.getElementById("citys").value;
				   var options=$("#citys option:selected");  //获取选中的项
				   var $readdress=readdress.value;
				   var dressarr=$readdress.split(' ');
				   if(dressarr.length>2){
					   dressarr[1]=options.text();
					   var ddress=dressarr.toString();
					   document.getElementById("readdress").value= dressarr[0]+" "+dressarr[1]+" ";
				   }else{
					document.getElementById("readdress").value=document.getElementById("readdress").value+options.text()+" ";
				   }
				
					$.get('__APP__/beijing/member/region',{'id':$id},function(data) {
                            $("#countys").html("<option value=''>请选择市</option>");
							 var json = eval('(' + data + ')');                             var reglist=json.reglist;
							 for(var i=0;i<reglist.length;i++){
								 $("#countys").append("<option value='" + reglist[i].id + "'>" + reglist[i].name + "</option>");
								 }
                           
                   
                    });
				}
				function countyschange()
				{
					var options=$("#countys option:selected");  //获取选中的项				
					var $readdress=readdress.value;
				  	var dressarr=$readdress.split(' ');
				   if(dressarr.length>3){
					   dressarr[2]=options.text();
					  var ddress=dressarr.toString();
					   document.getElementById("readdress").value=dressarr[0]+" "+dressarr[1]+" "+dressarr[2]+" ";
				   }else{
					document.getElementById("readdress").value=document.getElementById("readdress").value+options.text()+" ";
				   }
				
				
					}
        </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
			</div>
		</div>
	</div>
<include file="menu:footer" />

<script src="__PUBLIC__/js/log-js/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

<script src="__PUBLIC__/js/log-js/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="__PUBLIC__/js/log-js/excanvas.min.js"></script>

<script src="__PUBLIC__/js/log-js/respond.min.js"></script>  

<![endif]-->   

<script src="__PUBLIC__/js/log-js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery.blockui.min.js" type="text/javascript"></script>  

<script src="__PUBLIC__/js/log-js/jquery.cookie.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery.uniform.min.js" type="text/javascript" ></script>

<script type="text/javascript" src="__PUBLIC__/js/log-js/select2.min.js"></script>

<script src="__PUBLIC__/js/log-js/app.js"></script>

<script src="__PUBLIC__/js/log-js/form-samples.js"></script> 
<script>

	jQuery(document).ready(function() {    

	   // initiate layout and plugins

	   App.init();

	   FormSamples.init();

	});

</script>
<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>
</html>