<include file="Public/Template/header.html" />
    <div id="page_box">
        <div class="at_bak">
            <div class="bank_m"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">北京银行</a></h3></div>
            <div class="bank_m1"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">广发银行</a></h3></div>
            <div class="bank_m2"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">杭州银行</a></h3></div>
            <div class="bank_m3">
              <h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">华夏银行</a></h3></div>
            <div class="bank_m4"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">中国建设银行</a></h3></div>
            <div class="bank_m5"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">交通银行</a></h3></div>
            <div class="bank_m6"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">中国民生银行</a></h3></div>
            <div class="bank_m7"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">浦发银行</a></h3></div>
            <div class="bank_m8"><h3><a href="http://127.0.0.1/ap/Admin.php/Index/index/bank">中信银行</a></h3></div>
        </div>
    </div>    
    <div id="login">
    </div>
<include file="Public/Template/footer.html" />