<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>

<meta charset="utf-8" />

<title>智能凭证通管理系统</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta content="" name="description" />

<meta content="" name="author" />

<link href="__PUBLIC__/css/log-css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/css/log-css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/css/log-css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/css/log-css/style-metro.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/css/log-css/style.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/css/log-css/style-responsive.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/css/log-css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

<link href="__PUBLIC__/css/log-css/uniform.default.css" rel="stylesheet" type="text/css"/>    

<link href="__PUBLIC__/css/log-css/user.css" rel="stylesheet" type="text/css"/> 

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/log-css/select2_metro.css" />

<link rel="shortcut icon" href="__PUBLIC__/image/favicon.ico" />

</head>

<body class="page-header-fixed">

{:W('menu/head')}

<include file="$leftmenu" />

<div class="page-content">

		  <div class="container-fluid">

				<div class="row-fluid">

				  <div class="span12">						

						<h3 class="page-title">	

							 <small></small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="__APP__/langfang/index/dg_main.html">主页</a> 

								<span class="icon-angle-right"></span>

							</li>

							<li>

								<a href="#">产品管理</a>

								<span class="icon-angle-right"></span>

							</li>

							<li><a href="#">产品列表</a></li>

						</ul>

					</div>

				</div>                              

<div class="portlet box blue">	

      <div  class="portlet-title">   

            <div class="caption"><i class="icon-reorder"></i>管理员列表</div>

				<div class="tools">



												<a href="javascript:;" class="collapse"></a>



												<a href="#portlet-config" data-toggle="modal" class="config"></a>



												<a href="javascript:;" class="reload"></a>



												<a href="javascript:;" class="remove"></a>



											</div>    

								</div>

             

               <div class="portlet-body form" >

                   <div>

                   <table width="100%" class=list cellSpacing=0 align=center border=0>

<form name=excel method=post action="__APP__/langfang/dates/data_excel.php">

<tr>

	<td width="60%" height="35" valign="middle">

		<input type="submit" name="submit" value="导出结果为EXCEL文件" style="BACKGROUND-COLOR:red;BORDER-BOTTOM: #A6D683 1px solid; BORDER-LEFT: #A6D683 1px solid; BORDER-RIGHT: #A6D683 1px solid; BORDER-TOP: #A6D683 1px solid; COLOR: #FFFFFF;height:25px">

		<input type="hidden" name="company" value="<?=$company?>">

		<input type="hidden" name="SelectedCuser_all" value="<?=$SelectedCuser_all?>">

		<input type="hidden" name="SelectedCuser" value="<?=$SelectedCuser?>">

		<input type="hidden" name="SelectedProduct_all" value="<?=$SelectedProduct_all?>">

		<input type="hidden" name="SelectedProc" value="<?=$SelectedProc?>">

		<input type="hidden" name="Selectedstatus_all" value="<?=$Selectedstatus_all?>">

		<input type="hidden" name="Selectedstatus" value="<?=$Selectedstatus?>">

		<input type="hidden" name="timetiger" value="<?=$timetiger?>">

		<input type="hidden" name="begintime" value="<?=$begintime?>">

		<input type="hidden" name="overtime" value="<?=$overtime?>">

	</td>

	<td align="right">

		<?if($Role_user){}else{?>

		<input type="submit" name="byzhihang" value="导出按支行汇总EXCEL" style="BACKGROUND-COLOR:green;BORDER-BOTTOM: #A6D683 1px solid; BORDER-LEFT: #A6D683 1px solid; BORDER-RIGHT: #A6D683 1px solid; BORDER-TOP: #A6D683 1px solid; COLOR: #FFFFFF;height:25px">

		<?	}	?>



		<input type="submit" name="bychanpin" value="导出按产品汇总EXCEL" style="BACKGROUND-COLOR:green;BORDER-BOTTOM: #A6D683 1px solid; BORDER-LEFT: #A6D683 1px solid; BORDER-RIGHT: #A6D683 1px solid; BORDER-TOP: #A6D683 1px solid; COLOR: #FFFFFF;height:25px">



	</td>

</tr>

</form>

</table>

                   </div>

                                <div id="product">

                                          

                                        <table width="100%">

                                                   <tr height="45" style=" font-family:'微软雅黑'; font-size:14px; font-weight:500; color:#557abb;">

                                                           <td width="10%">订单提交时间</td>

                                                           <td width="5%" style="text-align:center">订单号</td>

                                                           <td width="5%" style="text-align:center">状态</td>

                                                           <td width="8%" style="text-align:center">产品编号</td>

                                                           <td width="25%" style="text-align:center">产品名称</td>

                                                           <td width="12%" style="text-align:center">包装规格</td>

                                                           <td width="5%" style="text-align:center">单位</td>

                                                           <td width="8%" style="text-align:center">当时单价</td>

                                                           <td width="8%" style="text-align:center">订购数量</td>

                                                           <td width="8%" style="text-align:center">金额合计</td>

                                                           <td width="15%" style="text-align:center">订货支行</td>

                                                   </tr>

                                                   <volist name='p_list' id='product'>

                                                   <tr id="user_table">

                                                          <td height="45" >

                                                                 

                                                                   

                                                          </td>

                                                          <td height="45" style="text-align:center" >{$product.prefix}-{$product.number}</td>

                                                          <td height="45" style="text-align:center" >{$product.cmpe}</td>

                                                          <td height="45" style="text-align:center" >

                                                    {$product.name}

                                                         </td>

                                                          <td height="45" style="text-align:center" >{$product.amount}</td>

                                                          <td height="45"  style="text-align:center" >{$product.limitamount}</td>

                                                           <td height="45" style="text-align:center" >

                                                    {$product.name}

                                                         </td>

                                                          <td height="45" style="text-align:center" >{$product.amount}</td>

                                                          <td height="45"  style="text-align:center" >                                                       

                                                          <td class="user_edit" style="text-align:center" height="45" onMouseOver="this.style.backgroudcolor='#247BFF';" >&nbsp;&nbsp;<a class="user_et" href="__APP__/member/m_edit/id/{$user.id}">编辑</a> <a href="__APP__/user/auser_edit/id/{$user.id}">增加</a>&nbsp;&nbsp;

                                                          <a href="__APP__/member/index/id/{$user.id}">冻结</a></td>

                                                  

                                                   </tr>

                                                   </volist>

                                                  

                                        </table>

                   

										<div class="portlet-body form">

                                         <div class="pagination">

                                        　　{$page}

                                        </div>	

								</div>

                         </div>

				</div>



				<!-- END PAGE CONTENT-->         



			</div>



			<!-- END PAGE CONTAINER-->



		</div>



		<!-- END PAGE -->  



	</div>



	<!-- END CONTAINER -->



		 <include file="menu:footer" />



	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->



	<!-- BEGIN CORE PLUGINS -->



	<script src="__PUBLIC__/js/log-js/jquery-1.10.1.min.js" type="text/javascript"></script>



	<script src="__PUBLIC__/js/log-js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>



	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->



	<script src="__PUBLIC__/js/log-js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      



	<script src="__PUBLIC__/js/log-js/bootstrap.min.js" type="text/javascript"></script>



	<!--[if lt IE 9]>



	<script src="__PUBLIC__/js/log-js/excanvas.min.js"></script>



	<script src="__PUBLIC__/js/log-js/respond.min.js"></script>  



	<![endif]-->   



	<script src="__PUBLIC__/js/log-js/jquery.slimscroll.min.js" type="text/javascript"></script>



	<script src="__PUBLIC__/js/log-js/jquery.blockui.min.js" type="text/javascript"></script>  



	<script src="__PUBLIC__/js/log-js/jquery.cookie.min.js" type="text/javascript"></script>



	<script src="__PUBLIC__/js/log-js/jquery.uniform.min.js" type="text/javascript" ></script>



	<!-- END CORE PLUGINS -->



	<!-- BEGIN PAGE LEVEL PLUGINS -->



	<script type="text/javascript" src="__PUBLIC__/js/log-js/select2.min.js"></script>



	<!-- END PAGE LEVEL PLUGINS -->



	<!-- BEGIN PAGE LEVEL SCRIPTS -->



	<script src="__PUBLIC__/js/log-js/app.js"></script>



	<script src="__PUBLIC__/js/log-js/form-samples.js"></script>   



	<!-- END PAGE LEVEL SCRIPTS -->



	<script>



		jQuery(document).ready(function() {    



		   // initiate layout and plugins



		   App.init();



		   FormSamples.init();



		});



	</script>



	<!-- END JAVASCRIPTS -->   



<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>



<!-- END BODY -->



</html>