<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>智能凭证通管理系统</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="__PUBLIC__/css/log-css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="__PUBLIC__/css/log-css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/log-css/user.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/log-css/select2_metro.css" />
<link rel="shortcut icon" href="__PUBLIC__/image/favicon.ico" />
</head>
<body class="page-header-fixed">
{:W('menu/head')}
<include file="$leftmenu" />
<div class="page-content">
		  <div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<h3 class="page-title">
							 <small></small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="__APP__/beijing/index/dg_main">主页</a> 
								<span class="icon-angle-right"></span>
							</li>
							<li>
								<a href="#">产品分类</a>
								<span class="icon-angle-right"></span>
							</li>
							<li><a href="#">添加分类</a></li>
						</ul>
					</div>
				</div>
				<div class="row-fluid"> 
					<div class="span12">
						<div class="tabbable tabbable-custom boxless">
							<div class="tab-content">
								<div class="tab-pane active" id="tab_1">
									<div class="portlet box blue">
										<div class="portlet-title">
											<div class="caption"><i class="icon-reorder"></i>添加分类</div>
											<div class="tools">
											</div>
										</div>
										<div class="portlet-body form">
											<form action="__APP__/beijing/Product/p_type_add" class="horizontal-form" id="form_add" method="post" >		                                            	 
                                            	<div class="row-fluid">
													<div class="pro_all ">
														<div class="pro_ad">
                                                            <div class="pro_box">
															         <label class="pro_companyname" >产品所属企业</label>
                                                            </div>
															<div class="pro_box_ad"  >
																<select class="span12 select2_category"  id="customer" name="customer" data-placeholder="请选择" tabindex="1">																	
                                                                    <volist name='lisc' id='company'>
                                                                    <option value="{$company.id}" <if condition="($company.id eq $oneptype['company'])">selected</if> >{$company.name}</option>
                                                                    </volist>
																</select>
															</div>
														</div>
													</div>
												</div>   
												<div class="row-fluid">
													<div class="pro_all ">
														<div class="pro_ad">
                                                                <div class="pro_box">
                                                                        <label class="pro_companyname"  for="firstName">分类名称</label>
                                                                </div>
															<div class="pro_box_ad">
                                                                     <input type="text" id="number" name="number" class="m-wrap span12" value="{$oneptype.ptname}" placeholder="分类名称">
															</div>
														</div>
													</div>
												</div>
												<div class="form-actions">
													<input type="hidden" name="ptid" value="{$oneptype.ptid}">
													<button type="button" class="btn blue" onClick=" valdata()"><i class="icon-ok"></i>&nbsp;&nbsp; 确&nbsp;&nbsp;定&nbsp;&nbsp;</button>
													<button type="button" class="btn" onClick="finish()">&nbsp;&nbsp;取&nbsp;&nbsp;消&nbsp;&nbsp;</button>
												</div>
											</form> 
<script type="text/jscript">
	function finish()
{
	window.location="__APP__/beijing/product/p_type";
	}
	function valdata(){
			
			var customer = document.getElementById("customer");
			var number = document.getElementById("number");														
			if((customer.value).trim() == ""){														        
				alert("企业不能为空");
				return false;
			}
			if((number.value).trim() == ""){														        
				alert("分类名称不能为空");
				return false;
			}
	
			document.getElementById("form_add").submit();
	}
	 function isNull(arg1)
		{
		 return !arg1 && arg1!==0 && typeof arg1!=="boolean"?true:false;
		}
</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<include file="menu:footer" />
<script src="__PUBLIC__/js/log-js/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

<script src="__PUBLIC__/js/log-js/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="__PUBLIC__/js/log-js/excanvas.min.js"></script>

<script src="__PUBLIC__/js/log-js/respond.min.js"></script>  

<![endif]-->   

<script src="__PUBLIC__/js/log-js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery.blockui.min.js" type="text/javascript"></script>  

<script src="__PUBLIC__/js/log-js/jquery.cookie.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/log-js/jquery.uniform.min.js" type="text/javascript" ></script>

<script type="text/javascript" src="__PUBLIC__/js/log-js/select2.min.js"></script>

<script src="__PUBLIC__/js/log-js/app.js"></script>

<script src="__PUBLIC__/js/log-js/form-samples.js"></script>

<script>

	jQuery(document).ready(function() {    

	   // initiate layout and plugins

	   App.init();

	   FormSamples.init();

	});

</script>
<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>
</html>