<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="keywords" content="">
<meta name="description" content="">
<title>智能凭证通管理系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" contert="webkit|ie-stand|ie-comp">
<!--<link rel="stylesheet" href="__PUBLIC__/css/index.css">-->
<link rel="stylesheet" href="__PUBLIC__/css/order.css">
</head>
<body>
<script type="text/javascript">
if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE6.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE7.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE8.0" )
{
alert("您的浏览器版本过低，请更换浏览器或下载IE9以上版本");
}
</script>